*
{
    border: 0;
    border-radius: 0;
    font-family: FontAwesome, Roboto compact;
    font-size: 14px;
    min-height: 0;
}

@import './colors.css';
@import './custom-modules.css';

window#waybar 
{
    background: @background_alpha;
    color: @foreground;
}

tooltip 
{
	background: @background;
color: @foreground;
}

tooltip label 
{
	color: @foreground;
}

#battery.charging {
	color: #50fa7b;
}

#battery.warning:not(.charging) {
    color: #ffb86c;
}

#temperature.critical,
#battery.critical:not(.charging) {
    color: @urgent;
}

#backlight {
	margin: 0px 3px 0px 0px;
}

#temperature {
	margin: 0px 3px 0px 0px;
}

#network:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#pulseaudio:hover,
#clock:hover {
	color: @selected;
}

#tray
{
    background: #666;
	padding-right: 15px;
}

#tray menu {
    background: @background_alpha;
}
